.color{
    color: red;
}
.icon-mes{
    margin-top: 12.5px;
}
.mes-num{
    height: 22px;
    width: 22px;
    border-radius: 50%;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    position: absolute;
    left: 25px;
}
.name{
    margin-left: 18%!important;
    font-size: 18px!important;
}
.mybook{
    font-size: 18px!important;
}
.showout{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: fixed;
    background-color: rgba(216, 216, 216, 0.096);
}
.showout-btn{
    position: fixed;
    top:65px;
    right: 30px;
}